@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
    font-family: Raleway;
}

html,
body {
    margin: 0;
    padding: 0;
    height: calc(100vh-50px);
    background-color: #f7f7f7;
}

.navbar {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    z-index: 100;
}

.brand-title {
    font-size: 1.5rem;
    margin: 1.5rem;
    margin-left: 3rem;
}

.brand-title a {
    list-style: none;
    text-decoration: none;
    color: #f7f7f7;
    padding: .5rem;
}

.brand-title a:hover {
    color: #888;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links ul li {
        text-align: center;
    }
    .navbar-links ul li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
        -webkit-transition: 5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -ms-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }
}

footer {
    display: flex;
    position: static;
    flex-direction: column;
    align-items: center;
    bottom: 0px;
    width: 100%;
    background: #333;
    color: #f7f7f7;
}

footer div.bank-logo {
    display: flex;
    padding: 0;
    width: 50%;
}

footer .brand-title {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 6rem;
    margin: 0;
}

footer .brand-title a {
    list-style: none;
    text-decoration: none;
    color: #f7f7f7;
    padding: .5rem;
}

footer .brand-title a:hover {
    color: #888;
}

footer .brand-title p {
    font-size: .8rem;
    margin: 1rem 6rem;
    text-align: center;
}

footer .brand-title ul {
    display: flex;
    list-style: none;
    margin-right: 6rem;
    padding-left: 0;
    margin: 0.5rem 0rem;
    margin-top: 0;
}

footer .brand-title ul li {
    font-size: 1rem;
    padding: .5rem 0rem;
    margin: 0.5rem .5rem;
}

footer .brand-title ul.links {
    list-style: none;
    text-decoration: none;
    color: #f7f7f7;
}

footer .brand-title ul.links li {
    margin: 0;
    padding: 0;
}

footer .brand-title ul.links li a {
    list-style: none;
    text-decoration: none;
    color: #f7f7f7;
    padding: .5rem;
}

footer .brand-title ul.links li a:hover {
    color: #888;
}

footer .brand-title ul.social {
    list-style: none;
    text-decoration: none;
    color: #f7f7f7;
    margin-bottom: 1rem;
}

footer .brand-title ul.social li {
    margin: 0;
    padding: 0;
}

footer .brand-title ul.social li a {
    list-style: none;
    text-decoration: none;
    color: #f7f7f7;
    padding: 1rem;
}

footer .brand-title ul.social li a:hover {
    color: #888888;
}

footer .black-bar {
    width: 100%;
    font-size: 0.7rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}